.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-content {
  display: flex;
  justify-content: space-between;
  height: 260px;
  align-items: stretch;
  padding: 0px 10px;
}
.section-continer {
  max-height: 540px;
  overflow-y: auto;
}
.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  width: 210px;

  transition: all 0.2s linear;
  &:hover {
    cursor: pointer;
  }
  &:hover .card__text {
    background: rgba(155, 155, 156, 0.253);
    backdrop-filter: blur(5px);
  }
  &__img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  &__text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    background: rgba(52, 52, 52, 0.784);
    backdrop-filter: blur(10px);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &--hover {
      transition: color 0.1s linear;
      &:hover {
        color: rgb(255, 174, 0);
      }
    }
  }
  &__text__item {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
.artist-card {
  text-align: center;
  cursor: pointer;
  &:hover &__img {
    transform: scale(1.1);
  }
  &__img {
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.2s;
  }
}
