.playlist__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.playlist__item {
  margin: 10px;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.playlist__item-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
