.section-track-wrapper {
  padding-bottom: 100px;
}

.trending-songs {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #181818;

  &__title {
    font-size: 2rem;
    margin: 20px 0;
    text-align: left;
    padding-left: 10px;
    border-bottom: 2px solid #333;
  }

  &__table {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    border-collapse: collapse;
    background-color: #1818184e;
    border-radius: 20px;
  }

  &__thead {
    display: table;
    width: 100%; // Adjust for scrollbar width if necessary
    thead {
      display: table;
      width: 100%;
    }
    th {
      position: sticky;
      top: 0;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 2px solid #333;
      text-align: left;
      font-size: 1rem;
    }
  }

  &__tbody {
    display: block;
    max-height: 420px;
    font-size: 0.9rem;
    table-layout: fixed;
    overflow-y: auto;
    tr {
      display: table;
      width: 100%;
      table-layout: fixed; // Виправлено на fixed для коректного відображення колонок
      border-bottom: 1px solid #333;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #e3dede31;
        .svgSong {
          left: 10%;
          top: 10%;
          opacity: 1;
          transition: all 0.3s ease; // плавність зміни позиції
        }
        a {
          color: rgb(255, 174, 0);
          text-decoration: underline;
        }
      }
    }
  }
  &__column {
    padding: 10px;
    &--song {
      width: 39%;
    }
    &--times {
      width: 10%;
    }
    &--album {
      width: 27%;
    }
  }

  &__cell--song {
    width: 39%;
  }
  &__cell--time {
    width: 10%;
    text-align: center;
  }
  &__cell--song--continer {
    display: flex;
    padding-left: 10px;
    p {
      cursor: pointer;
    }
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
  }
  &__name {
    margin-left: 10px;
  }
  &__img-container {
    position: relative;
    height: 100%;
  }
  &__row--active {
    background-color: #e3dede31;
    color: #28eb66;
    a {
      color: #28eb66;
    }
  }
}
a {
  color: #ffffff;
  text-decoration: none;
}

.song-play-toggle__svg {
  position: absolute;
  top: -5px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.song-play-toggle {
  display: flex;
  width: 100%;
  height: 50px;
  line-height: 0px;

  position: absolute;
  top: 0px;
  left: 0px;

  padding: 0px;
  background: #00000029;
  cursor: pointer;
}

//Categories style

.categories-continer {
  margin: 0px auto;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px 10px;
  justify-content: space-between;
}
.categories-item {
  width: 160px;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  font-size: 16px;
  color: #e2e2e2fa;
  border-bottom: 1px solid #e2e2e200;
  transition: all 0.2s linear;

  &:hover {
    cursor: pointer;
    background: #6b6a6a;
  }
  img {
    width: 100%;
    border-radius: 15px;
  }
}
